

.body{
  margin: 0;
  padding: 0;


}

.container-fluid{
background-color: purple;
background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);

}


.card_head{
  background-color:#648880;
 
}; 

.card {
    border: 1px solid #000;
};

.input_radius{
 border:  50% !important;

}

.form-control{
  border-radius: 2em;
  border-color: #648880 ;
}

#submit_btn{

  background: linear-gradient(to right, #648880 , #7fc2b4, 85%, #293f50);
}

.btn-lg{
  margin-left: 16.25rem;
  border: 1px #293f50 solid;
  border-radius: 5px;

}

.input_font{
  font-size: 20px;
  color: #293f50;
}


.error_msg{

  color: red;
  font-size: 15px ;
  font-weight: bold;
}


